$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$primary-dark: #232429;
$black: #000 !default;

// fusv-disable
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
) !default;
// fusv-enable

// colors

$blue: #0d6efd !default;
$brown: #bd2300 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #a91e2c !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #18634b !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// theme color
$primary: #ffc107;
$secondary: #09090a;
$danger: #d80000;
$success: #028900;
$info: #00d8ff;
$warning: #ffae00;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// basic color settings
$font-color: #000;
$background-color: #eeeff4;

// fonts settings
$roboto-font: "Roboto", sans-serif;
$oswald-font: "Oswald", sans-serif;
$roboto-c-font: "Roboto Condensed", sans-serif;

// SETTINGS
$navbarHeight: 57px;

// SIDEBAR SETTINGS
$smSidebarWidth: 70%;
$mdSidebarWidth: 45%;
$lgSidebarWidth: 38%;
$xlSidebarWidth: 30%;

// colors
$colors: (
    "primary": (
        "bg-color": $primary,
        "color": $white,
    ),
    "secondary": (
        "bg-color": $secondary,
        "color": $white,
    ),
    "danger": (
        "bg-color": $danger,
        "color": $white,
    ),
    "success": (
        "bg-color": $success,
        "color": $white,
    ),
    "info": (
        "bg-color": $info,
        "color": $black,
    ),
    "warning": (
        "bg-color": $warning,
        "color": $black,
    ),
    "light": (
        "bg-color": $light,
        "color": $black,
    ),
    "dark": (
        "bg-color": $dark,
        "color": $white,
    ),
);

// margin
@for $i from 1 to 10 {
    .mgl-#{$i} {
        margin-left: #{$i}rem;
    }
    .mgr-#{$i} {
        margin-right: #{$i}rem;
    }
    .mgt-#{$i} {
        margin-top: #{$i}rem;
    }
    .mgb-#{$i} {
        margin-bottom: #{$i}rem;
    }
    .mgx-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }
    .mgy-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }
}

// colors
// breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;
// @mixin breakpoints($value) {
//     @if ($value== "xs") {
//         @media only screen and (max-width: 576px) {
//             @content;
//         }
//     }
//     @if ($value== "sm") {
//         @media (min-width: 576px) and (max-width: 768px) {
//             @content;
//         }
//     }
//     @if ($value== "md") {
//         @media (min-width: 768px) and (max-width: 992px) {
//             @content;
//         }
//     }
//     @if ($value== "lg") {
//         @media (min-width: 992px) and (max-width: 1200px) {
//             @content;
//         }
//     }
//     @if ($value== "xl") {
//         @media only screen and (min-width: 1200px) and (max-width: 1400px) {
//             @content;
//         }
//     }
//     @if ($value== "xxl") {
//         @media only screen and (min-width: 1400px) {
//             @content;
//         }
//     }
// }

@mixin breakpoints($value) {
    @if ($value== "xs") {
        @media (max-width: 576px) {
            @content;
        }
    }
    @if ($value== "sm") {
        @media (min-width: 577px) and (max-width: 768px) {
            @content;
        }
    }
    @if ($value== "md") {
        @media (min-width: 769px) and (max-width: 992px) {
            @content;
        }
    }
    @if ($value== "lg") {
        @media (min-width: 993px) and (max-width: 1200px) {
            @content;
        }
    }
    @if ($value== "xl") {
        @media (min-width: 1201px) and (max-width: 1400px) {
            @content;
        }
    }
    // @if ($value== "xxl") {
    //     @media (max-width: 1400px) {
    //         @content;
    //     }
    // }
}
